<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false" scan="true" scanPeriod="10 seconds">

    <!--<include resource="org/springframework/boot/logging/logback/defaults.xml"/>-->

    <property name="ENCODER_PATTERN" value="%d{dd-MM HH:mm:ss.SSS} %marker%-5level [%thread] %logger{36} - %msg%n" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${ENCODER_PATTERN}</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>